<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test</title>
</head>
<body>
	<div id="demo_tag" calss="template">
	<!-- 	<div id="tag_cloud">
			{% for(var i =0,len =tagCloud.length;i<len;i++){ %}
				{% var ctx = tagCloud[i]; %}
				<a href="#" class="tag_item"
				{% if (ctx['is_selected']) { %}
					selected
				{% } %}
				"tittle=" {% =ctx["title"] %}>{%=ctx["text"]%}</a>
			{% } %}
		</div> -->
	</div>
	<!-- <script type="text/javascript" id="demo_script">
	// script模板内容
		<div id="tag_cloud">
			{% for(var i =0,len =tagCloud.length;i<len;i++){ %}
				{% var ctx = tagCloud[i]; %}
				<a href="#" class="tag_item"
				{% if (ctx['is_selected']) { %}
					selected
				{% } %}
				"tittle=" {% =ctx["title"] %}>{%=ctx["text"]%}</a>
			{% } %}
		</div>
</script> -->
<!-- 	<div id="tag_cloud">
	
		{% for(var i =0,len =tagCloud.length;i<len;i++){ %}
			{% var ctx = tagCloud[i]; %}
			<a href="#" class="tag_item"
			{% if (ctx['is_selected']) { %}
				selected
			{% } %}
			"tittle=" {% =ctx["title"] %}>{%=ctx["text"]%}</a>
		{% } %}
	</div> -->
	<!-- 	<div id="tag_cloud">
		{% for(var i =0,len =tagCloud.length;i<len;i++){ %}
			{% var ctx = tagCloud[i]; %}
			<a href="#" class="tag_item"
			{% if (ctx['is_selected']) { %}
				selected
			{% } %}
			"tittle=" {% =ctx["title"] %}>{%=ctx["text"]%}</a>
		{% } %}
	</div> -->
	<a href="#"></a>
</body>
<script type="text/javascript">
	var arr =[];
	arr.push("a","b");
	console.log(arr);
</script>
</html>